::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0; /* Remove default body margin */
}
:root {
  --light-read: rgba(240, 58, 71, 1);
  --dark-blue: rgba(24, 48, 89, 1);
  --blue: rgba(39, 111, 191, 1);
  --white: rgba(246, 244, 243, 1);
}

.main-page {
  background-color: #183059;
  height: 100vh;
}

.title-text {
  font-family: monospace;
  font-size: 48px;
  font-weight: bold;
  color: white; margin: 0;
}
.subtitle-text {
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8); margin: 0;
}

.content-text {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8); margin: 0;
}

a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}